
#== Directories ==
VivadoKeytar.cache/
VivadoKeytar.runs/
VivadoKeytar.tmp/
VivadoKeytar.sim/sim_1/

#== File Types ==
#reports
*.log
*.rpt
*.vdi
#metadata
*.rst
#output files
*.pb
*.dcp
*.rpx
*.wdf
#libraryfiles
*.so
*.dll

#== Files ==
usage_statistics_webtalk*

